*{
    box-sizing: border-box;
    color: slategrey;
    
}
.open{
    display: flex !important;
}
header{
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
    padding: 0;
}
.topbar{
    width: 100%;
}
.sidebar{
    grid-area: sidebar;
    display: flex;
    gap: 0;
    height: 70vh;
    position: sticky;
    top: 30vh;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: x-large;
}
li{
    margin-top: 15px;
}
.logo{
    height: 100px;

}

.main{
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar cont";
    grid-template-columns: 1fr 5fr;

}
.content{
    grid-area: cont;
    font-size: large;
}
a{
    text-decoration: none;
    outline: none;
    color:chocolate;
    transition: all 0.2s linear;

}

a:active{
   color: wheat;
}
body{
    margin: 0;
    background-image: url("./images/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 64px;
    gap: 8rem;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0.8953781341638218) 75%, rgba(255,255,255,0) 100%);

}
.topbar-main{
    margin-right: auto;
    align-items: center;
    display: flex;
    flex: 1 1 70%;
    flex-direction: row;
    gap: .5rem;
    position: static;
    width: max-content;
}
.socialmedia{
    width: 64px;
    height: 64px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8rem;;
    margin: 0 auto 0 0;
    position: relative;
    top: 0px;
}


#loading-screen::before {
  content: '';
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background: url("./images/pumpkin.png") top repeat-x;
  width: 100vw;
  height: 100vh;
  display: block;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-delay: .1s;
}

#loading-screen::before {
  animation-name: loadingScreen1;
}



@keyframes loadingScreen1 {
  to {
    transform: translateY(100%);
  }
}

#search{
    position: absolute;
    bottom: 0;
}
#pashalka{
    background: rgb(39, 39, 39);
    border: 1px solid chocolate;
    width: 75%;
    outline: none;
}
particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}
canvas{
    border: 5px solid chocolate;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    background: cadetblue;
    display: none;
}
img{
    max-width: 100%;
}
.dropdownmenu{
    display: none;
}
.dropdownmenu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}
.dropdowncontent{display: none; animation: burgeranimation 0.3s ease-in-out 0s 1 forwards normal;}
@keyframes burgeranimation {
    from {opacity: 0;}
    to {opacity: 1;}
}
.burger{
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-end;
    width: 40px;
    height: 35px;
    margin: 10px;
    margin-top: 15px;
}
.burger span{
    height: 4px;
    width: 100%;
    transform: scale(1);
    transition: all 0.3s ease 0s;
    background-color: whitesmoke;
}
.burger::before,.burger::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: whitesmoke;
    transition: all 0.3s ease 0s;
}
.burger::before{
    top: 0;
}
.burger::after{
    bottom: 0;
}
.burger.active span {transform: scale(0);}
.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
}
.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
}
/* #menu{
    background: none;
    outline: none;
    border: none;
    align-self: flex-end;
} */
@media screen and (max-width: 1200px) {
    .icons{
        gap: 5rem;
    }
}
@media screen and (max-width: 998px) {
    .icons{
        gap: 4rem;
    }
    .container{
        gap: 3rem;
    }
}
@media screen and (max-width: 768px) {
    .icons{
        gap: 1rem;
    }
    .container
    {
        gap: 0;
    }
}
@media screen and (max-width: 576px) {

    .dropdownmenu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20vh;
        z-index: 2;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.705);
    }
    
    .dropdownmenu li{
        text-align: right;
    }

    .socialmedia{
        width: 50px;
        height: 50px;
    }
    
    .icons{
        flex-wrap: wrap;
        flex: 1 1;
    }
    .topbar-main{
        flex-direction: row-reverse;
        
    }
    .sidebar{
        display: none;
    }
    .main{
        display: contents;
    }
    .logo{height: 75px;}
}